.data-entry-container {
  width: 100%;
  max-width: 900px;
}

.form {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  // gap: 1rem;
  display: flex;
  flex-direction: column;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px 10px 0px;
}

.entries-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0 0.5rem 0;
}

.entries-table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.no-entries {
  color: #777;
  text-align: center;
  padding-top: 10px;
}
.mat-mdc-card-title {
  font-size: 1.17em;
  font-weight: bold;
  padding: 16px 0px 16px 0px;
}
.entries-section {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 250px;
}
