// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@use "tailwindcss";
html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}
html,
body {
  height: 100%;
  --mat-sys-surface-container-low: #f9f9f9;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// global material design

.mat-mdc-raised-button:not(:disabled) {
  --mdc-protected-button-container-color: #9f7eeb;
  --mdc-protected-button-label-text-color: white;
  background-color: --mdc-protected-button-container-color;
  color: --mdc-protected-button-label-text-color;
}
.mat-divider {
  --mat-divider-color: #dadada;
  border-top-color: --mat-divider-color;
}
.clear-btn {
  background-color: red !important;
}
.clear-btn-icon {
  background-color: rgb(179, 0, 0) !important;
  color: white !important;
}
.mat-mdc-card {
  --mdc-elevated-card-container-elevation: 0 2px 8px rgba(0, 0, 0, 0.571);
  box-shadow: var(
    --mdc-elevated-card-container-elevation,
    var(--mat-sys-corner-medium)
  );
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  --mdc-filled-text-field-container-color: #d7d7d72e;
  background-color: var(--mdc-filled-text-field-container-color);
}
app-bug-hunt {
  .mat-mdc-table thead {
    background: #ac9cbb2e;
  }
  .mat-mdc-table tfoot {
    background: #dcdcdc2e;
  }
}
